# General extensions to ignore
*.RData
*.rdb
*.rdx
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
.Rapp.history

# Private course documents
project/submissions*
final/submissions*
final/gen-data.R

# Temporary holds: Notes
# notes-lecture/01*
# notes-lecture/02*
# notes-lecture/03*
# notes-lecture/04*
# notes-lecture/05*
# notes-lecture/06*
# notes-lecture/07*
# notes-lecture/08*
# notes-lecture/09*
# notes-lecture/10*
notes-lecture/11*
notes-lecture/12*
notes-lecture/13*

# Temporary holds
project*
final*
problem-sets/001-old*
problem-sets/002-old*
problem-sets/003-old*
